body {
	font-family: Courier New, Courier, monospace;
}

.MXMLComment {
	color: #800000;
}

.MXMLComponent_Tag {
	color: #34b5eb;
}

.MXMLDefault_Text {
	color: #000000;
}

.MXMLProcessing_Instruction {
	color: #ffb6b6;
}

.MXMLSpecial_Tag {
	color: #3fff9e;
}

.MXMLString {
	color: #ff3d3d;
}

.ActionScriptASDoc {
	color: #7cc0f4;
}

.ActionScriptBracket/Brace {
	color: #ffe400;
}

.ActionScriptComment {
	color: #4ee04e;
	font-style: italic;
}

.ActionScriptDefault_Text {
	color: #000000;
}

.ActionScriptMetadata {
	color: #0033ff;
}

.ActionScriptOperator {
	color: #ff0000;
}

.ActionScriptReserved {
	color: #1c78e0;
}

.ActionScriptString {
	color: #ffae00;
}

.ActionScriptclass {
	color: #d65aff;
}

.ActionScriptfunction {
	color: #abf41f;
}

.ActionScriptinterface {
	color: #ff614c;
}

.ActionScriptpackage {
	color: #ff00c0;
}

.ActionScripttrace {
	color: #ff6000;
}

.ActionScriptvar {
	color: #4accf6;
}

.CSS@font-face {
	color: #990000;
	font-weight: bold;
}

.CSS@import {
	color: #006666;
	font-weight: bold;
}

.CSS@media {
	color: #663333;
	font-weight: bold;
}

.CSSComment {
	color: #999999;
}

.CSSDefault_Text {
}

.CSSDelimiters {
}

.CSSProperty_Name {
	color: #330099;
}

.CSSProperty_Value {
	color: #3333cc;
}

.CSSSelector {
	color: #ff00ff;
}

.CSSString {
	color: #990000;
}

