body {
	font-family: Courier New, Courier, monospace;
}

.CSS@font-face {
	color: #990000;
	font-weight: bold;
}

.CSS@import {
	color: #006666;
	font-weight: bold;
}

.CSS@media {
	color: #663333;
	font-weight: bold;
}

.CSSComment {
	color: #999999;
}

.CSSDefault_Text {
}

.CSSDelimiters {
}

.CSSProperty_Name {
	color: #330099;
}

.CSSProperty_Value {
	color: #3333cc;
}

.CSSSelector {
	color: #ff00ff;
}

.CSSString {
	color: #990000;
}

.ActionScriptASDoc {
	color: #82a2fd;
}

.ActionScriptBracket/Brace {
	color: #f3fd80;
}

.ActionScriptComment {
	color: #ceffce;
}

.ActionScriptDefault_Text {
	color: #000000;
}

.ActionScriptMetadata {
	color: #6581f6;
}

.ActionScriptOperator {
	color: #f5320c;
}

.ActionScriptReserved {
	color: #009cff;
}

.ActionScriptString {
	color: #ff0042;
}

.ActionScriptclass {
	color: #d967ff;
}

.ActionScriptfunction {
	color: #b7fa4d;
}

.ActionScriptinterface {
	color: #d981f6;
}

.ActionScriptpackage {
	color: #c388ff;
}

.ActionScripttrace {
	color: #f3765d;
}

.ActionScriptvar {
	color: #71dff6;
}

.MXMLComment {
	color: #800000;
}

.MXMLComponent_Tag {
	color: #ffd800;
}

.MXMLDefault_Text {
}

.MXMLProcessing_Instruction {
}

.MXMLSpecial_Tag {
	color: #006633;
}

.MXMLString {
	color: #ee3f02;
}

