$base03:          #002b36 !default; //darkest blue
$base02:          #073642 !default; //dark blue
$base01:          #586e75 !default; //darkest gray
$base00:          #657b83 !default; //dark gray
$base0:           #839496 !default; //medium gray
$base1:           #93a1a1 !default; //medium light gray
$base2:           #eee8d5 !default; //cream
$base3:           #fdf6e3 !default; //white
$solar-yellow:    #b58900 !default;
$solar-orange:    #cb4b16 !default;
$solar-red:       #dc322f !default;
$solar-magenta:   #d33682 !default;
$solar-violet:    #6c71c4 !default;
$solar-blue:      #268bd2 !default;
$solar-cyan:      #2aa198 !default;
$solar-green:     #859900 !default;

$solarized: light !default;

@if $solarized == light {

  $_base03: $base03;
  $_base02: $base02;
  $_base01: $base01;
  $_base00: $base00;
  $_base0:  $base0;
  $_base1:  $base1;
  $_base2:  $base2;
  $_base3:  $base3;

  $base03:  $_base3;
  $base02:  $_base2;
  $base01:  $_base1;
  $base00:  $_base0;
  $base0:   $_base00;
  $base1:   $_base01;
  $base2:   $_base02;
  $base3:   $_base03;
}

$pre-bg: $color-background;
$pre-border: $color-gray03;

article{
	code, pre{
		background: $pre-bg;
		border: 1px solid $pre-border;
		font-family: $font-mono;
	}
	code{
		font-size: 0.9em;
		padding: 1px 3px;
		margin: 0 3px;
		@include border-radius(5px);
	}
	pre{
		font-size: 1 / 0.9em;
		line-height: 1.5;
		margin-top: 10px;
		padding: 5px 15px;
		overflow-x: auto;
		@include border-radius(5px);
		code{
			background: none;
			border: none;
			padding: 0;
			margin: 0;
			@include border-radius(0);
		}
	}
}

figure.code{
	background: $pre-bg;
	border: 1px solid $pre-border;
	margin-top: 10px;
	padding: 5px 15px;
	@include border-radius(5px);
	figcaption{
		font-size: 0.9em;
		position: relative;
		span{
			margin: -5px -15px 0;
			padding: 5px 15px;
			display: block;
			//@include background(linear-gradient(top, $pre-border, $pre-bg));
			&:empty{
				display: none;
			}
		}
		a{
			position: absolute;
			top: 5px;
			right: 0;
		}
	}
	code, pre{
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		//@include border-radius(0);
	}
	.highlight{
		overflow-x: auto;
	}
	.line-numbers{
		border-right: 1px solid $pre-border;
		font-family: $font-mono;
		padding-right: 15px;
		text-align: right;
	}
	table{
		border: none;
		text-align: left;
		margin-top: 0;
		td{
			text-align: left;
		}
	}
	td.code{
		width: 100%;
		padding-left: 15px;
		overflow-x: auto;
	}
}
.entry-content .gist{
	font-size: 14px;


	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
