$max-width: 800px;

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: $font-default;
	font-weight: 300;
	font-size: 18px;
	background: $color-background;
	background-image: $background-image;
	margin-top: 35px;

	color: $color-gray01;
	@media screen and (max-width: 1040px){
		margin: 35px 20px;
	}
	@media screen and (max-width: 875px){
		margin: 55px 20px;
	}
	@media screen and (max-width: 570px){
		margin: 0 20px;
	}
	@media screen and (max-width: 460px){
		font-size: 16px;
	}
	-webkit-text-size-adjust: 100%;

}
h1{
	font-family: $font-headline;
    font-size:24px;
    /* Remember to set the correct font weight if using fontface */
    font-weight:normal;

	@media screen and (max-width: 960px){
		font-size:24px;
	}
	@media screen and (max-width: 460px){
		font-size: 18px;
	}
}
h2{
    padding-top: 10px;
    padding-bottom: 5px;
	font-family: $font-headline;
	font-size: 1.25em;
	a{
		color:$color-gray01
	}
}
h3{
	font-family: $font-headline;
	font-size: 1.3em;
}
a{
	text-decoration: none;
	outline-width: 0;
	color: $color-link;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.clearfix{
	@include pie-clearfix;
}
.inner{
	width: $max-width;
	margin: 0 auto;
	@media screen and (max-width: 800px){
		width: 100%;
	}
}
.newsletter {
    padding-top: 10px;
    text-align: center;
    .text {
        width: 50%;
    margin-left: auto;
    margin-right: auto;
    }
} 

.page-image img {
    max-width: 100%;
}
