$color-background: #f9f9f9;
$color-main: #222;
$color-link: rgba(12, 108, 184, 0.93);
$color-gray01: #222;
$color-gray02: #999;
$color-gray03: #ccc;
$color-gray04: #ddd;
$color-gray05: #fff;
$color-darkgray01: #333;
$background-image: url(/images/retina_dust.png);
