$max-width: 800px;

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: $font-default;
	font-weight: 300;
	font-size: 22px;
	background: $color-background;
	background-image: $background-image;
	color: $color-gray01;
	@media screen and (max-width: 1040px){
		margin: 0 20px;
	}
	@media screen and (max-width: 460px){
		font-size: 18px;
	}
}
h1{
	font-family: $font-headline;
    font-size:48px;
    /* Remember to set the correct font weight if using fontface */
    font-weight:normal;

	@media screen and (max-width: 960px){
		font-size:36px;
	}
	@media screen and (max-width: 460px){
		font-size: 26px;
	}
}
h2{
	font-family: $font-headline;
	font-size: 1.5em;
	a{
		color:$color-gray01
	}
}
h3{
	font-family: $font-headline;
	font-size: 1.3em;
}
a{
	text-decoration: none;
	outline-width: 0;
	color: $color-link;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.clearfix{
	@include pie-clearfix;
}
.inner{
	width: $max-width;
	margin: 0 auto;
	@media screen and (max-width: 800px){
		width: 100%;
	}
}
