body {
	font-family: Courier New, Courier, monospace;
	background-color: #000000
}

.MXMLComment {
	color: #91c18e;
}

.MXMLComponent_Tag {
	color: #e7cf8e;
}

.MXMLDefault_Text {
	color: #ffffff;
}

.MXMLProcessing_Instruction {
	color: #d66060;
}

.MXMLSpecial_Tag {
	color: #b9cf9c;
}

.MXMLString {
	color: #d27adf;
}

.CSS@font-face {
	color: #bf7979;
	font-weight: bold;
}

.CSS@import {
	color: #7fb7b8;
	font-weight: bold;
}

.CSS@media {
	color: #e16d6d;
	font-weight: bold;
}

.CSSComment {
	color: #d6b4b4;
}

.CSSDefault_Text {
	color: #ffffff;
}

.CSSDelimiters {
	color: #df4242;
}

.CSSProperty_Name {
	color: #9165e9;
}

.CSSProperty_Value {
	color: #9b9bee;
}

.CSSSelector {
	color: #eabf91;
}

.CSSString {
	color: #db72c9;
}

.ActionScriptASDoc {
	color: #8db4d3;
}

.ActionScriptBracket/Brace {
	color: #c7b683;
}

.ActionScriptComment {
	color: #a5e4a5;
	font-style: italic;
}

.ActionScriptDefault_Text {
	color: #ffffff;
}

.ActionScriptMetadata {
	color: #43a2ce;
}

.ActionScriptOperator {
	color: #fe3030;
}

.ActionScriptReserved {
	color: #5e7da0;
}

.ActionScriptString {
	color: #d27adf;
}

.ActionScriptclass {
	color: #d0af7c;
}

.ActionScriptfunction {
	color: #9cb56d;
}

.ActionScriptinterface {
	color: #d07568;
}

.ActionScriptpackage {
	color: #aec6ee;
}

.ActionScripttrace {
	color: #ff000c;
}

.ActionScriptvar {
	color: #d1d570;
}

