.post{
	.content {
			> * {
		    vertical-align:middle;  // Align children to middle of line
		}
		.image-container {
            display: inline-block;
			padding-right: 10px;
            width: 250px;
            @media screen and (max-width: 800px){
				width: 150px;
			}
            @media screen and (max-width: 550px){
				width: 100%;
			}
            text-align: center;
		}
		.post-info {
            display: inline-block;
            max-width: 525px;
            @media screen and (max-width: 800px){
				max-width: 475px;
			}
            @media screen and (max-width: 700px){
				max-width: 350px;
			}
			@media screen and (max-width: 550px){
				max-width: 100%;
			}

		}
		
		.index-img {
			width: 150px;
			height: 100px;
            border: 1px solid black;
		}
		.date {
			font-size: 14px;
		}
	}

}
