
{% if index %}
	<h1 class="title article-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}xxx</a></h1>
	<div class="date">{% include post/date.html %}{{ time }}</div>
	<div class="entry-content">
		{{ content | excerpt }}
		{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
		{% if excerpted == 'true' %}<a href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
	</div>
{% else %}
	<h1 itemprop="name" class="title article-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
	<div class="date">{% include post/date.html %}{{ time }}</div>

	<div class="entry-content">
		{% if page.image_url %}
			<div class="article-image">
			<img itemprop="image" src="//d7jttttzl6muv.cloudfront.net/images/{{ page.image_url }}" alt="{{ page.image_alt }}">
			</div>
		{% endif %}
		{{ content }}
	</div>

	<div class="contact">Want to chat about this post? I'd love to hear from you. <br>You can find me on twitter <a href="http://twitter.com/jhooks" rel="author">>@jhooks</a>, <a href="https://plus.google.com/+JoelHooks?rel=author" rel="author">google+</a>, or via email <a href="mailto:joelhooks@gmail.com?Subject=Hello%20,%20email%20from%20joelhooks.com">joelhooks@gmail.com</a></div>

	{% if page.footer == nil %}
	<div class="cta">
		<div class="signup">
		    <p class="message">
		      <a id="signup-for-updates"></a>
              Get weekly AngularJS content and curated links. Keep up to date with the latest, <strong>sign up below</strong>:
		    </p>

		    <div>
		      <form name="signup" action="http://joelhooks.us6.list-manage.com/subscribe/post?u=cab7a76220&amp;id=e3b711e732" method="post">
		        <input class="input" type="email" name="EMAIL" placeholder="Email Address"> 
		        <div class="button_container"><a class="button" onclick="if(typeof(_vis_opt_top_initialize) =='function'){ _vis_opt_goal_conversion(200); _vis_opt_pause(500); } setTimeout(function(){document.signup.submit();},500);" href="#">Send Me Updates!</a></div>
		        <div class="arrow"></div>
		      </form>
		    </div>
		    <p class="small">I will <strong>never</strong> spam you. Unsubscribe at anytime.</p>

	    </div>
    </div>
    {% endif %}
{% endif %}

