<div class="topbar">
		<div class="inner">
			<div class="form">				
				<form name="header_signup" action="http://joelhooks.us6.list-manage.com/subscribe/post?u=cab7a76220&amp;id=e3b711e732" method="post">
					<div class="text"><strong>Weekly AngularJS Content Sent Right to Your Inbox:</strong></div>
					<div class="button-container">
			        <input class="input" type="email" name="EMAIL" placeholder="hey@you.com"> 
			        
			        <a class="button"  onclick="if(typeof(_vis_opt_top_initialize) =='function'){ _vis_opt_goal_conversion(200); _vis_opt_pause(500); } document.header_signup.submit();" href="#">Keep me Updated!</a>
			        </div>
			        <div class="text">(1~2 emails a week. No spam.)</div>
		      	</form>	    
			</div>

		</div>

	</div>