body {
	font-family: Courier New, Courier, monospace;
	font-size: medium;
	background-color: #000;
	color: #FFF;
}

.CSS@font-face {
	color: #ff0000;
	font-weight: bold;
}

.CSS@import {
	color: #03babc;
	font-weight: bold;
}

.CSS@media {
	color: #e58585;
	font-weight: bold;
}

.CSS@namespace {
	color: #923196;
}

.CSSComment {
	color: #999999;
}

.CSSDefault_Text {
	color: #ffffff;
}

.CSSDelimiters {
	color: #8d8d8d;
}

.CSSProperty_Name {
	color: #a63dff;
}

.CSSProperty_Value {
	color: #3c98ff;
}

.CSSSelector {
	color: #ff00ff;
}

.CSSString {
	color: #ff3e2a;
}

.MXMLASDoc {
	color: #3f5fbf;
}

.MXMLComment {
	color: #94cedb;
}

.MXMLComponent_Tag {
	color: #9fbbbe;
}

.MXMLDefault_Text {
	color: #f3f3f3;
}

.MXMLProcessing_Instruction {
	color: #ffffff;
}

.MXMLSpecial_Tag {
	color: #bfe7a5;
}

.MXMLString {
	color: #cbc3b2;
}

.ActionScriptASDoc {
	color: #d0ebe8;
}

.ActionScriptBracket/Brace {
	color: #f2e6c0;
}

.ActionScriptComment {
	color: #b4d4b4;
	font-style: italic;
}

.ActionScriptDefault_Text {
	color: #ebeaea;
}

.ActionScriptMetadata {
	color: #a6e4e6;
	font-weight: bold;
}

.ActionScriptOperator {
	color: #e98c8c;
}

.ActionScriptReserved {
	color: #c2cdda;
	font-weight: bold;
}

.ActionScriptString {
	color: #d6cabf;
	font-weight: bold;
}

.ActionScriptclass {
	color: #edb8c7;
	font-weight: bold;
}

.ActionScriptfunction {
	color: #bbd6c8;
	font-weight: bold;
}

.ActionScriptinterface {
	color: #cea9ce;
	font-weight: bold;
}

.ActionScriptpackage {
	color: #a27eae;
	font-weight: bold;
}

.ActionScripttrace {
	color: #b69393;
	font-weight: bold;
}

.ActionScriptvar {
	color: #acbe8a;
	font-weight: bold;
}

