// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

$base03:          #1D1F21; //darkest blue
$base02:          #282A2E; //dark blue
$base01:          #969896; //darkest gray
$base00:          #C5C8C6; //dark gray
$base0:           #969896; //medium gray
$base1:           #C5C8C6; //medium light gray
$base2:           #969896; //cream
$base3:           #C5C8C6; //white
$solar-yellow:    #F0C674;
$solar-orange:    #DE935F;
$solar-red:       #CC6666;
$solar-magenta:   #85678F;
$solar-violet:    #B294BB;
$solar-blue:      #81A2BE;
$solar-cyan:      #8ABEB7;
$solar-green:     #B5BD68;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
